

#root{
    #details{
        .Header{
            position: absolute;
        }
        .Content{
            .banner{
                width: 100%;
                height: auto;
                
                position: relative;
                .banner_position{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    border-radius: 50%;
                    width: 0.3rem;
                    height: 0.3rem;
                    text-align: center;
                    line-height: 0.3rem;
                    background: #999;
                    a{
                        color: #fff;
                    }
                }
            }
            .introduce{
                height: auto;
                padding: 0.1rem;
                background: #fff;
                .introduce_top{
                    height: 0.35rem;
                    line-height: 0.35rem;
                    display: flex;
                    justify-content: space-between;
                    .left{
                        span{
                            color: red;
                            font-size: 20px;
                        }
                        s{
                            color: #999;
                            margin-left: 0.05rem;
                            text-decoration: line-through;
                        }
                        i{
                            background: #f66;
                            color: #fff;
                            margin-left: 0.2rem;
                        }
                    }
                }
                .introduce_bottom{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 0.1rem;
                    p{
                        color: #333;
                        font-size: 18px;
                        display: block;
                        float: left;
                        width: 90%;
                        font-size: 16px;
                    }
                    button{
                        float: left;
                        width: 0.3rem;
                        height: 0.3rem;
                        background: aqua;
                        border: none;
                        background: url(image/Collection.png)no-repeat;
                        background-size: cover
                    }
                }
            }
           
            .discount{
                height: 0.48rem;
                background: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0 0.1rem;
                .left{
                         line-height: 0.48rem;
                         width: 100%;height:100%;
                    a{
                         display: flex;
                         width: 100%;height:100%;
                         color: #333;
                         line-height: 0.48rem;
                    }
                   
                    span{
                       color: #f66;
                       margin-right: 5px;
                    }
                    i{
                        margin-left: 0.05rem;
                    }
                    p{
                        margin-left: 5px;
                    }
                }
                .right{
                    span{
                        color: #999;
                        font-size: 20px;
                    }
                }
            }
            #discount_one{
                margin-top:8px; 
                .left{
                    span{
                        background: #f66;
                        color: #fff;
                    }
                    #left_span{
                        margin-left: 6px;
                    }
                }
            }
            #Selected{
                margin-top: 8px;
            }
            .shop{
                background: #fff;
                margin-top: 8px;
               
                box-sizing: border-box;
                .shop_top{
                     padding: 0.15rem;
                    display: flex;
                    justify-content: space-between;
                    .shop_logo{
                        width: 0.46rem;
                        height: 0.46rem;
                        border: 1px solid #999;
                        img{
                            width:100%;
                            height: 50%;
                            margin-top:0.1rem; 
                        }
                    }
                    .content{
                        flex: 1;
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        p{
                            font-size: 15px;
                        }
                        span{
                            color: #999;
                            font-size: 13px;
                        }
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        a{
                            padding: 0.05rem;
                            color: #333;
                            height: 0.25remx;
                            border: 1px solid #333;
                        }
                    }
                }
                .shop_con{
                    // display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    border-bottom: 0.01rem solid #999;
                    padding-bottom: 10px;   
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;       
                    .zhuan{
                        text-align: center;
                        padding-top: 0.25rem;
                        display: inline-block; 
                    }
                    li{
                      display: inline-block; 
                      width: 23%;
                      height: 0.84rem;  
                      border: 1px solid #999;   
                      margin: 0 5px;                
                      img{
                          width: 100%;
                          height: 100%;
                      }
                    }
                }
                .shop_bottom{
                    height: 0.46rem;
                    text-align: center;
                    line-height: 0.46rem;
                }
            }
        }
        // 图文详情
        .imgtext{
            li{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        //商品参数
        .Parameter{
            padding: 30px 30px;
            li{
                display: flex;
                margin-bottom: 10px;
                p{
                    color: #999;
                    width: 100px;
                    text-align: left;
                    font-size: 16px;
                }
                span{
                    font-size: 16px;
                    color: #333;
                    width: 70%;
                }
            }
        }
        //咨询售后
        .Consultation{
            padding: 30px 30px;
            li{
                margin-bottom: 10px;
                p{
                    color: #333;
                    font-size: 15px;
                }
                span{
                    font-size: 13px;
                    color: #999;
                }
            }
        }
        .DetailsFooter{
           height:0.5rem;
            background:#fff;
            ul{
                width:100%;
                height:100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    width: 15%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    a{
                        color:#ff464e;
                        color: #999;
                    }
                    .active{
                        color:#ff464e;
                    }
                }
                .addcart{
                    line-height: 0.5rem;
                    width: 30%;
                }
                .addcart2{
                    width: 40%;
                    background: #ff464e;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
